.nav-bar {
    position: fixed;
    text-align: right;
    background: linear-gradient(to right, Purple,yellow,orange,pink);
    width: 100%; 
}

.nav-item {
    text-decoration: none;
    color: black;
}

html {
  scroll-behavior: smooth;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.banner .welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.boy{
    width: 30%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hi {
  background: linear-gradient(to right, Purple,yellow,orange,pink);
  text-align: center;
}
.TJ{
    font-size: 125%;
}